@import "_var.scss";

body {
  padding: 0;
  margin: 0;
  background-color: black;
}
* {
  box-sizing: border-box;
}
canvas {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
// .container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
//   width: 100%;
//   h1 {
//     font-size: $title;
//     font-family: $titleFont;
//     color: $primary;
//   }
// }
