@import "_var.scss";

body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  h1 {
    font-size: $title;
    font-family: $titleFont;
    color: $primary;
  }
}
